<shop-menu> </shop-menu>
<br/>
<div *ngIf="item">
    <img class="img-rounded" width="250" height="250" src="{{item.Image}}" />
    <p>Name: {{item.Name}}</p>
    <p>Price: ${{item.Price}}</p>
    <button class="btn btn-default" (click)="addItemToShoppingCart(item)">Add</button>
    <p>{{item.Reviews.length}} Reviews</p>
    <li *ngFor="let review of item.Reviews">
        <span>This review by {{review.Creater}} on {{review.DateCreated}} rated as {{review.Rate}}</span>
        <p>{{review.Comment}}</p>
    </li>
    <h3>Leave your review</h3>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmitForm()">
        <section>
            <label for="rate">Rate</label>
            <select id="rate" formControlName="reviewRate">
                <option *ngFor="let r of rates" [ngValue]="r" >{{r}}</option>           
            </select>
        </section>
        <section>
            <label for="comment">Comment</label>
            <textarea rows="4" cols="50" formControlName="reviewComment">
            </textarea>
        </section>
        <button type="button" (click)="onResetForm()">Reset</button>
        <button type="submit">Submit</button>
    </form>
</div>