<h2>My Heroes</h2>
<label>Hero name:</label> <input type="text" #heroName />
<button (click)="add(heroName.value); heroName.value=''">Add</button>
    <ul class="heroes">
        <li *ngFor="let hero of heroes" 
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.Id}}</span> {{hero.Name}}
        <button class="delete" (click)="delete(hero);
        $event.stopPropagation();">X</button>
        </li>        
    </ul>
    <div *ngIf="selectedHero">
        <h2>
            {{selectedHero.Name | uppercase}} is my hero
        </h2>
        <button (click)="gotoDetail()">View Details</button>
    </div>